html, body {
    height: 100%;
    margin: 0; padding: 0;
}
body {
    display : table;
    width: 100%;
	background: rgb(32,32,32);
	color: #c8c8c8;
	padding: 20px;
}
footer {
    display : table-row;
	background: black;
	border-top: 2px solid rgba(255,255,255,0.2);
}
body {position: relative;}
footer {position: absolute; bottom: 0; left: 0; right: 0}

.basDePageCss {
    padding: 9px; 
	color: white;
}
input {
	color: #333;
}
a { 
	color: white;
	text-decoration: none;
}

a:hover {
	color: rgb(72, 132, 192);
	text-decoration: none;
}
.texteP {
    background-color: rgb(44, 44, 44);
    padding: 12px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 5px black inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 5px black inset;
    -khtml-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 5px black inset;
    box-shadow: 0px 1px 0px rgba(255,255,255,0.25), inset 0px 1px 5px black;
	border-radius: 10px;
}
.texteP img {
	width:100%;
}